{{ 'how-it-works.css' | asset_url | stylesheet_tag }}

<section id="how-it-works">
    <div class="how-it-works page-width-desktop">
        <div class="how-it-works-container">
            <div class="how-it-works-heading"><h2>{{ section.settings.how_it_works_h2 }}</h2></div>
            <div class="how-it-works-p"><p>{{ section.settings.how_it_works_p }}</p></div>
        </div>
        <div class="how-it-works-card-container">
            {% for block in section.blocks %}
            <div class="how-it-works-card--main">
                {% if block.settings.card_logo != blank %}
                    <img class='how-it-works-card-img' src="{{ block.settings.card_logo | img_url : 'master' }}" alt="Card Logo">
                {% endif %}
                <div class="how-it-works-card">
                    {% if forloop.index == 1 %}
                        <img class='how-it-works-card-num' src="https://cdn.shopify.com/s/files/1/0788/3361/5144/files/1_icon_277f5acd-ef51-4cab-9b53-259284c762cd.svg?v=1689152671" alt="One">
                    {% elsif forloop.index == 2 %}
                        <img class='how-it-works-card-num' src="https://cdn.shopify.com/s/files/1/0788/3361/5144/files/2_icon_c9cd2822-b210-4061-820d-4f049a01eb94.svg?v=1689152671" alt="Two">
                    {% elsif forloop.index == 3 %}
                        <img class='how-it-works-card-num' src="https://cdn.shopify.com/s/files/1/0788/3361/5144/files/3_icon_2dbf91e8-06b5-4038-8301-7bc3952c999d.svg?v=1689152670" alt="Three">
                    {% endif %}
                    <h3 class='how-it-works-card-h3'>{{ block.settings.card_heading }}</h3>
                    <p class='how-it-works-card-p'>{{ block.settings.card_paragraph }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
{
    "name": "How It Works",
    "class": "section",
    "max_blocks": 3,
    "settings": [
        {
        "type": "text",
        "label": "Heading",
        "id": "how_it_works_h2",
        "default": "How It Works"
        },
        {
        "type": "text",
        "label": "Paragraph",
        "id": "how_it_works_p",
        "default": "Mauris blandit nisi bibendum senectus fermentum tincidunt condimentum porttitor, egestas ullamcorper suscipit et lacus fringilla in nisl leo, iaculis proin."
        }
    ],
    "blocks": [
    {
      "type": "card",
      "name": "Card",
      "settings": [
        {
          "type": "image_picker",
          "label": "Card Logo",
          "id": "card_logo"
        },
        {
          "type": "text",
          "label": "Card Heading",
          "id": "card_heading"
        },
        {
          "type": "textarea",
          "label": "Card Paragraph",
          "id": "card_paragraph"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "How It Works",
      "category": "Standard"
    }
  ]
}
{% endschema %}